.button-wrapper {
  text-align: center; /* centers content horizontally */
}

.myButton {
  background-color: skyblue !important;
  border-color: skyblue !important;
  color: black !important;
}

/* Hover only affects button */
.myButton:hover {
  background-color: #181b1e !important;
  border-color: #1e90ff !important;
  color: white !important;
}

/* Add right padding between inputs in the first column */



/* Optional: add some vertical spacing above the button if needed */
/*
.slds-m-top_medium {
  margin-top: 1rem !important;
}*/

.firstName{
    padding-right: 20px;
}
.email{
    padding-right: 20px;
}